@import "../../../../../scss/variables";


.controls {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;

  & .filters {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 25%;
  }

  button {
    display: block;
    align-self: center;
    font-size: 18px;
    letter-spacing: 1px;
    border: 1px solid $green;
    color: $green;
  }
}

table {
  padding: 0 15px;
  box-shadow: none;
  width: 100%;

  & td {
    color: #0000008a;
  }

  & .t-header {
    background-color: $green;

    & th {
      color: $white;
    }
  }

  & .complete {
    background-color: $green;
  }

  & .failed {
    background-color: $red;
  }

  & .pending {
    background-color: $blue;
  }
}
